@media(max-width: 1100px){
    .portfolio-item-containers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-conteiner-1{
        text-align: center;
        margin-left: unset;
        width: 75%;
    }

    .text-conteiner-1>*{
        padding-top: 5%;
    }

    .portfolio-pic-cover{
        width: 80%;
    }

}


@media(max-width: 1100px){
    
    .social-media-container{
    width: 400px;
    }
}


@media(max-width: 800px){

    .background-pic-1{
        width: 30%;
    }

    .heading{
        font-size: 1.8em;
    }
    .heading-inner-container{
        height: 4.7em;
    }

}



@media(max-width: 600px){
    .heading{
        font-size: 1.5em;
    }
    
    .heading-inner-container{
        height: 4.5em;
    }
}
