@media(max-width: 1510px){

    .experience-items{
        font-size: 16px;
    }
    .experience-items{
        font-size: .8em;
    }

    .section-1-container{
        margin-top: 5em;
    }

}



@media(max-width: 1440px){

    html{
        font-size: 16px;
    }
}

@media(max-width: 1200px){

    .portfolio-item{
        width: 32%;
    }

    .experience-items{
        font-size: 15px;
    }
    .experience-items{
        font-size: .8em;
    }

    .carousel-cell { width: 50%; }

    /* .portfolio-text{
        padding: 0 20px;
    } */
   
}

@media(max-width: 1000px){

    .carousel-cell {
        width: 70%;
        /* height: 800px;
        margin-right: 30px; */
      }

      .portfolio-items-container{
        flex-direction: column;
        align-items: center;
    }

      .portfolio-item{
        width: 300px;
        margin-top: 5%;
    }

    .section-1-container{
        flex-direction: column;
    }

    .portfolio-items-container-section-1{
        flex-direction: row;
        margin-top: 2%;
    }

    .latest-projects{
        width: 100%;
        /* border: 1px red solid; */
        margin-top: 7%;
    }

    .latest-projects-item{
        /* border: 1px red solid; */
        width: 45% !important;
        height: fit-content !important;
    }

    .button-link-latest{
        display: block;
    }

    body{
        background: none;
    }

    .text-conteiner-section-1{
        width: 100%;
    }

    .button-yellow-hero-section{
        position: relative;
        margin: 5% auto;
    }

    .button-conteiner-hero-section{
        position: relative !important;
        padding-top: 4%;
    }
}


@media(max-width: 900px){

    .section-2,.section-3,.section-4,
.section-5,.section-6,.section-7,.section-8{
    margin-top: 100px;
}

    html{
        font-size: 15px;
    }

    .section-1-container > * {
        margin-top: 1.5em;
    }

    .illustration-section-3{
        display: none;
    }

     .section-3-text{
        padding-left: 35%;
     }

    .illustration-section-7{
        display: none;
    }

    .form-container{
        margin: 0 auto;
    }

    .button-send{
        display: block;
        margin: 10% auto;
    }

    .carousel-cell { width: 80%; }

    .flickity-prev-next-button.previous {
        left: -40px;
      }
      .flickity-prev-next-button.next {
        right: -40px;
      }
}

@media(max-width: 700px){

    .nav-list{
        padding: 1.5em 1em 1em 1em;
    }

    .nav-item{
        font-size: .8em;
    }

    .portfolio-item{
        margin-top: 7%;
        width: 60%;
        height: 40%;
        padding: 6% 0;
    }

    .portfolio-item > *:last-child{
        position: relative;
        bottom: unset;
    }

    .section-3-text{
        padding-left: 2em;
     }

    .slider-inner-container{
        flex-direction: column;
        align-items: center;
    }

    .slider-items-contanier > *{
        margin-top: 4%;
    }

    .slider-items{
        margin-top: 7%;
        width: 60%;
        padding: 6% 0;
    }

    .tools-icons{
        width: 80%;
    }

    .carousel-cell {
        width: 88%;
        height: 800px;
        margin-right: 30px;
      }

      .h2-section-8{
        margin-bottom: .1em;
    }

    .flickity-prev-next-button.previous {
        left: -30px;
      }
      .flickity-prev-next-button.next {
        right: -30px;
      }

}

@media(max-width: 600px){

    html{
        font-size: 17px;
    }

    header{
        position: relative;
        margin: 7% auto;
        width: 85%;
    }

    .hamburger-menu{
        display: flex;
        justify-content: end;
        margin: 7%;
    }    

    .illustration-section-1, .nav-list, .section-1-background{
        display: none;
    }    

    .section-1-background-mob{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .section-1-container{
        text-align: center;
        align-items: center;
        margin: 7em auto 0 auto;
        width: 85%;
    }

    .section-1-container > *{
        margin-top: 2em;
    }

    .section-1-background{
        height: 20%;
    }

    .heading{
        font-size: 1.8em;
        margin: 0 auto;
    }

    /* .heading-inner-container{
        height: 4.7em;
    } */

    .heading-pic{
        display: none;
    }


    .tools-icons-container{
        max-width: 350px;
    }

    .tools-icons{
        width: 75%;
        padding-top: 50%;
    }

    .form-1-and-2-container{
        flex-direction: column;
        } 
    
    
        .form-1-and-2-container > *{
            width: 100%;
            padding-top: 10%;
        }

    .social-media-container{
        width: 400px;
    }

    .flickity-prev-next-button.previous {
        left: -5px;
      }
      .flickity-prev-next-button.next {
        right: -5px;
      }

      .portfolio-items-container-section-1{
        flex-direction: column;
    }

    .latest-projects-item{
        /* border: 1px red solid; */
        width: 70% !important;
    }

}

@media(max-width: 430px){

    .heading{
        font-size: 1.5em;
    }

    .heading-inner-container{
        height: 4.5em;
    }

    .portfolio-item{
        width: 90%;
        height: 40%;
    }

    .slider-items{
        margin-top: 7%;
        width: 90%;
        padding: 6% 0;
    }

    .tools-icons-container{
        margin: 0 10%;
    }

    /* .flickity-page-dots{
        bottom: 100px;
    } */
   
    .latest-projects-item{
        /* border: 1px red solid; */
        width: 90% !important;
    }

}
