@media(max-width: 1440px){

    html{
        font-size: 16px;
    }

    body{
        width: 85%;
    }
}

@media(max-width: 1200px){
    .portfolio-item{
        width: 32%;
    }

    /* .illustration-section-1{
        top: 6em;
        right: 3em;
    } */
}


@media(max-width: 900px){

    .section-2,.section-3,.section-4,
.section-5,.section-6,.section-7,.section-8{
    margin-top: 100px;
}

    html{
        font-size: 15px;
    }

    body{
        width: 90%;
    }

    .section-1-container{
        width: 57%;
        margin-top: 4em;
    }

    .section-1-container > * {
        margin-top: 1.5em;
    }

    /* .illustration-section-1{
        top: 6em;
        right: 3em;
    } */

    .illustration-section-3{
        display: none;
    }

     .section-3-text{
        padding-left: 35%;
     }

    .illustration-section-7{
        display: none;
    }

    .form-container{
        margin: 0 auto;
    }

    .button-send{
        display: block;
        margin: 10% auto;
    }

    .carousel-cell {
        width: 45%;
        height: 800px;
        margin-right: 20px;
      }

}

@media(max-width: 700px){

    /* .heading-container{
        margin: 0 auto 2em auto;
    } */

    .nav-list{
        padding: 1.5em 1em 1em 1em;
    }

    .nav-item{
        font-size: .8em;
    }

    .section-1-container{
        width: 57%;
        margin-top: 3em;
    }

    .portfolio-items-container{
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item{
        margin-top: 7%;
        width: 60%;
        height: 40%;
        padding: 6% 0;
    }

    .portfolio-item > *:last-child{
        position: relative;
        bottom: unset;
    }

    .section-3-text{
        padding-left: 2em;
     }

    .slider-inner-container{
        flex-direction: column;
        align-items: center;
    }

    .slider-items-contanier > *{
        margin-top: 4%;
    }

    .slider-items{
        margin-top: 7%;
        width: 60%;
        padding: 6% 0;
    }

    .tools-icons{
        width: 80%;
    }

    .carousel-cell {
        width: 88%;
        height: 800px;
        margin-right: 30px;
      }

      .h2-section-8{
        margin-bottom: .1em;
    }

}

@media(max-width: 600px){

    html{
        font-size: 17px;
    }

    body{
        width: 100%;
    }

    header{
        position: relative;
        margin: 7% auto;
        width: 85%;
        /* border: 1px solid red; */
    }

    .hamburger-menu{
        display: flex;
        justify-content: end;
        margin: 7%;
    }    

    .illustration-section-1, .nav-list, .section-1-background{
        display: none;
    }    

    .section-1-background-mob{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .section-1-container{
        text-align: center;
        align-items: center;
        margin: 7em auto 0 auto;
        width: 85%;
    }

    .section-1-container > *{
        margin-top: 3em;
    }

    .section-1-background{
        height: 20%;
    }

    .heading{
        font-size: 1.8em;
    }

    .heading-inner-container{
        height: 4.7em;
    }


    .tools-icons-container{
        max-width: 350px;
    }

    .tools-icons{
        width: 75%;
        padding-top: 50%;
    }

    .form-1-and-2-container{
        flex-direction: column;
        } 
    
    
        .form-1-and-2-container > *{
            width: 100%;
            padding-top: 10%;
        }

    .social-media-container{
        width: 400px;
    }

}

@media(max-width: 430px){

    .heading{
        font-size: 1.5em;
    }

    .heading-inner-container{
        height: 4.5em;
    }

    .portfolio-item{
        width: 90%;
        height: 40%;
    }

    .slider-items{
        margin-top: 7%;
        width: 90%;
        padding: 6% 0;
    }

    .tools-icons-container{
        margin: 0 10%;
    }
   
}
